.top {
	border: 5px;
	border-color: #ff0000;
	border-style: solid;
	height: 20px;
	padding: 15px;
	width: 1000px;
}

.left {
	border: 5px;
	border-color: #ff0000;
	border-style: solid;
	float: left;
	height: 20px;
	padding: 15px;
	width: 260px;
}

.center {
	border: 5px;
	border-color: #ff0000;
	border-style: solid;
	float: left;
	height: 20px;
	padding: 15px;
	width: 400px;
}

.right {
	border: 5px;
	border-color: #ff0000;
	border-style: solid;
	float: left;
	height: 20px;
	padding: 15px;
	width: 260px;	
}

.bottom {
	border: 5px;
	border-color: #ff0000;
	border-style: solid;
	clear: both;
	height: 20px;
	padding: 15px;
	width: 1000px;
}
