    div{
        font-family: Helvetica, Arial, sans-serif;
        width: 360px;
        margin: 0 auto;
        padding: 20px;
        border:  1px solid red;
    }

   	body {
   		background: #0e0e0e;
   		background-color:white;
   		background-image: url(tiy-learn-content.sw3.amazon.aws.com/4e5768e6-);
   		background-position: 0px 10px;
   		cursor: zoom-in;
   		height:403px;
   		width:1280px;

   	}

