
    /* style.css */
html{
	background-color: black;
}
body{
	margin: 10px 10px;
	background-color: white;
	width: 480px;
	height: 320px;
	padding: 15px 0px 0px 0px;
	position: absolute;
	top: 25%;
	left: 25%;
}
    div{
        font-family: Helvetica, Arial, sans-serif;
        width: 360px;
        height: 260px;
        margin: 0 auto;
        padding: 20px;
        border:  1px solid red;
        background-color: white;
        position: relative;
    }

    #strangelist {
    	color: red;
    	font-weight: 700;
    }

    #backpack {
    	color: blue;
    	font-weight: 700;
    }
    /* Your code here */

