body {
    text-align: center;
}

.box {
    background-color: yellow;
    width: 100px;
    height: 100px;
    display: inline-block
}

#thirdbox {
  background-color: green;
}

#secondbox {
  background-color: blue;
}
