
    /* style.css */

    div{
        font-family: Helvetica, Arial, sans-serif;
        width: 360px;
        margin: 0 auto;
        padding: 20px;
        border:  1px solid red;
    }

  ul:first-of-type {
  	color: red;
  }

  ul ul {
  	color: blue !important;
  }
    

    /* Your code here */

