    div{
        background: #eee;
        width: 500px;
        margin: 0 auto;
        padding: 20px;
    }

    h1{ 
        letter-spacing: 10px;
        text-align: center;
        text-transform: uppercase;
        

    }

    p{
        
        line-height: 25px;

    }
